@model ESS.Web.ViewModel.ListViewModel

@{
    ViewBag.Title = "GetAllEmployee";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";

}
<head>
    <title></title>
    <link href="~/Content/Flatly.css" rel="stylesheet" />
</head>
<body onload="JavaScript:timedRefresh(5000);">
    <h1>Employee List</h1>
    <br />
    <br />


    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Users)
            {
                <tr class="info">
                    <td>@p.UserId</td>
                    <td>@p.Name</td>
                    <td>@p.Email</td>
                    <td>@p.Phone</td>
                    <td>
                        <a href="@Url.Action("EmployeeDetails", "Employee")/@p.UserId" class="btn btn-danger" value="Update" type="button">
                            Update
                        </a>
                    </td>
                </tr>
            }



        </tbody>
    </table>
</body>
